@charset "UTF-8";

/*==============[goodsList]===============*/
.goods-category-wrap{text-align:center; color:#333;}
.goods-category-wrap>p:nth-child(1)>a{display:inline-block; margin:0 auto; color:#333;}
.goods-category-wrap>p:nth-child(1){font-weight:800; letter-spacing:3px;}
.goods-category-wrap>div:nth-child(2){display:flex; margin-top:35px;  justify-content:center; /*height:60px;*/}
.goods-category-wrap>div:nth-child(2)>p>a{padding:15px 20px; font-weight:600;}

.goods-category-wrap>div:nth-child(2)>p:not(.on-category,:hover)>a{color:#333;}
.on-category>a{color:#a56f63; border-bottom:2px solid #a56f63;}
.goods-category-wrap>div>p:hover>a{color:#a56f63; border-bottom:2px solid #a56f63;}

.goods-list-cart>p{padding:80px 0; margin:20px auto;  width:100%; text-align:center; border:1px solid #ccc;}
.goods-list-cart>ul{display:flex; flex-wrap:wrap;}
.goods-list-cart>ul>li>a>span:nth-child(1){display:block; padding-bottom:100%; border:1px solid #e3e3e3;}
.goods-list-cart>ul>li>a>span:nth-child(2){display:block; margin-top:10px; min-height:42px;}

.goods-list-order{margin: 20px auto 50px; border:1px solid #ccc; background:#f6f6f6;}
.goods-list-order>li{margin:10px; justify-content:space-between; align-items:center; background:#fff;}
.goods-list-order>li>a{display:flex;}
.goods-list-order>li>a>span{display:inline-block;}
.goods-list-order>li>a>span:nth-child(1)>span{position:relative; padding-bottom:100%; border:1px solid #e3e3e3;}
.goods-list-order>li>a>span:nth-child(1)>span>img{position:absolute;/*width:80px; height:80px;*/}
.goods-list-order>li>a>span:nth-child(2){font-weight:700;}

.payment-info{padding:10px 20px 10px;width:100%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f6f6f6;}
.payment-info:not(:first-child){display:none;}
.payment-info>div{padding:5px 0 ; display:flex; align-items:center; flex-wrap:wrap;}
.payment-info>div>label{width:100px; height:50px; font-size: 13px; line-height: 50px;color: #757575;}
.payment-info>div>input, .payment-info>div>select{margin-right:10px;}
.back-pay-value-input>input:nth-of-type(1){width:200px;}
.back-pay-value-input>input:nth-of-type(2){width:350px;}


.goods-main-image{display:block; position:relative; overflow:hidden;}
.goods-main-image>img{width:100%;}
.goods-main-image i{
	position:absolute; left:50%; top:50%; display:block; 
	text-align:center; color:#ccc;
	transform:translate(-50%, -50%); z-index:1;
}
.goods-main-image i+img{position:absolute; left:0; top:0; z-index:2;}
.goods-image-big{padding-bottom:100%; border:1px solid #ccc;}
.goods-image-big>i{font-size:200px; }
.goods-image-middle>i{font-size:100px;  }
.goods-image-small>img{position:relative; }
.goods-image-small>i{font-size:50px;}
.goods-image-tiny>i{font-size:25px;}

.goods-search-title{margin:60px auto 10px; }
.goods-search-title+p{margin:0 auto; padding:10px 0 0;}


/*==============[goodsOne]===============*/
.goods-image-wrap{position:relative;}
.goods-info-layout{width:100%; max-width:460px;}
.goods-info-layout>ul:first-child{min-height:333px;}


.goods-title>p{margin-bottom:10px; line-height:35px; font-size:25px; font-weight:600; color:#333;}

.goods-main-price{margin-bottom:20px;display:flex; align-items:center; flex-wrap:wrap;}
.goods-main-price>strong, .goods-main-price>span{ color:#e34e4e; }
.goods-main-price>strong{font-size:30px;}
.goods-main-price>span:not(:nth-child(3)){font-size:23px; margin-left:2px; font-weight:600;}


.goods-delivery{margin-bottom:10px;padding-bottom:10px;  border-bottom:1px solid #e3e3e3;}
.goods-delivery>span:nth-of-type(2){margin:0 2px 0 5px;}
.goods-delivery>span:nth-of-type(3)::after{display:inline-block; content:"|"; width:20px; text-align:center;}

.goods-view-cnt{margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #e3e3e3;}

.goods-up-date{margin-bottom:10px; padding-bottom:10px;}

.goods-quantity{display:flex; margin-bottom:20px; padding:20px 0; justify-content:left; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.goods-quantity-tiny{display:flex; padding:20px 0; justify-content:right; flex-wrap:wrap;}
.goods-quantity>input[type='number']{padding:10px 15px; width:100px; border:1px solid #ccc;}
.goods-quantity-tiny>input[type='number']{padding:7px 15px 6px; width:calc(100% - 60px); border:1px solid #e3e3e3;}
.goods-quantity>input[type='number']::-webkit-outer-spin-button,
.goods-quantity>input[type='number']::-webkit-inner-spin-button,
.goods-quantity-tiny>input[type='number']::-webkit-outer-spin-button,
.goods-quantity-tiny>input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

#quantity-alert{display:none; padding-left:20px; color:#e34e4e; line-height:40px; }

.cart-one-price{margin-bottom:20px;justify-content:space-between; align-items:center;}
.cart-one-price>span>span:nth-child(1){padding-right:4px; font-weight:600;}

.goods-total-price{display:flex; margin-bottom:20px;justify-content:right; align-items:center;}
.goods-total-price>*{margin-left:2px;}
.goods-total-price>span:nth-child(1){padding:8px 4px 0 0; font-weight:600;}
.goods-total-price>strong:nth-child(2){font-size:30px;}
.goods-total-price>span:nth-child(3){font-size:23px; font-weight:600;}

.goods-buy-btns{display:flex; justify-content:space-between;}
.goods-buy-btns>.btn{font-size:18px; font-weight:400;}

.goods-list-container::before{
	position:absolute ; left:0; top:0; display:inline-block; content:""; width:50px; height:302px; 
	background:#fff; box-shadow: 0 0 30px 30px #fff; opacity:0.8; z-index:2;
}
.goods-list-container::after{
	position:absolute ; right:0; top:0; display:inline-block; content:""; width:50px; height:302px; 
	background:#fff; box-shadow: 0 0 30px 30px #fff; opacity:0.8; z-index:2;
}
.goods-list>li>a{position:relative; padding:20px;}
.goods-list>li>a>span{display:block;}
.goods-list>li>a>span:nth-child(1){margin-bottom:10px; height:218px; border:1px solid #e3e3e3;}
.goods-list>li>a>span:nth-child(1)>img{width:100%;}

.goods-list-padding{padding:0 100px;}

.flexslider_sub span{margin-bottom:15px; padding-bottom:100%;}

.goods-cant-order-box>p{padding:100px 50px; width:100%; text-align:center; background:#f3f3f3;}

.flex-control-nav{display:none;}

.reply-info{border: 1px solid #ccc; }

.reply-total{display:flex; align-items:center; height:120px; border-bottom:10px solid #f6f6f6; text-align:center;}
.reply-total>div:nth-child(1){padding:0 10px 0 30px; color:#e34e4e;}
.reply-total>div:nth-child(2){padding:5px 10px 0 10px; font-size:20px; font-weight:bold; color:#e34e4e;}
.reply-total>div:nth-child(3){padding:8px 10px 0 10px;}

.reply-input{padding-bottom:20px; align-items:center;}
.reply-input>div{display:flex;}
.reply-input>div{padding:10px 30px 0; text-align:center;}
.reply-input>div:nth-child(1)>label{margin:0 2px;}
.reply-input>div:nth-child(2)>div:nth-child(1){width:80%;}
.reply-input>div:nth-child(2)>div:nth-child(2){width:20%;}
.reply-input>div:nth-child(2)>div:nth-child(2)>button{margin:0 auto; width:100%; height:100%;}

.star_line_input>label{border:none; cursor:pointer; }
.star_line_input>p{margin-top:10px;}

.reply-input>div>div>textarea{padding:10px;width:100%; height:100%; resize:none;}
.reply-info>ul{margin: 0 auto 0; padding:15px 15px; display:table; width:100%; background: #f6f6f6;}
.reply-info>ul>li{margin-top:2px; justify-content:space-between; width:100%;  background:#fff; text-align:center;}
.reply-info>ul>li>div{display:flex; margin-bottom:10px; vertical-align:bottom; word-break:break-all;}
.reply-info>ul>li>div>div:first-child{width:40%; text-align:left;}
.reply-info>ul>li>div>div:last-child{width:60%; text-align:right;}
.reply-info>ul>li>div:nth-child(2), .reply-info>ul>li>div:nth-child(3){text-align:left;}
/*.reply-info>ul>li>div:nth-child(1){width:15%; text-align:center;}
.reply-info>ul>li>div:nth-child(2){padding-left:10px; width:15%;}
.reply-info>ul>li>div:nth-child(3){padding-left:10px;}
.reply-info>ul>li>div:nth-child(4){width:15%;}
*/
.reulst_star_line>i{margin:0 2px; color:#e34e4e;}


/*==============[order]===============*/
#resultAllPrice{width:100%;text-align:center;}
#resultAllPrice>span{margin-right:10px;font-size:20px; font-weight:bold;}
#resultAllPrice>span:nth-child(2){color:#a56f63;}

.order-result-view{padding:30px 0 50px; border:1px solid #ccc; text-align:center;}
.order-result-view>div>i{font-size:90px; color:#cab3aa;}
.order-result-view>h1{padding:35px 0 50px; font-size:20px; }


/*=====================[FHD]========================*/
@media screen and (min-width:1500px){
	.flexslider_sub{margin-bottom:60px; background:transparent;}
	
	.goods-category-wrap>p:nth-child(1){font-size:33px;}
	.goods-category-wrap>div:nth-child(2)>p>a{font-size:20px;}
	
	.goods-list-cart>ul{padding:50px 68px;}
	.goods-list-cart>ul>li{margin:20px; width:200px;}
	.goods-list-cart>ul>li>a>span:nth-child(1){height:200px;}
	.goods-list-cart>ul>li>a>span:nth-child(2){min-height:75px;}
	.goods-list-cart>ul>li img{width:200px; height:200px;}
	
	.goods-list-order>li{display:flex; padding:20px 40px 20px 20px;}
	.goods-list-order>li>span>span:not(:nth-child(3)){display:inline-block; min-width:120px; text-align:right;}
	.goods-list-order>li>a>span{margin-right:20px;}
	.goods-list-order>li>a>span:nth-child(1){width:80px;}
	.goods-list-order>li>a>span:nth-child(2){line-height:80px; height:80px;}
	
	.goods-list-wrap{position:relative; width:100%;}
	.goods-list{display:flex; flex-wrap:wrap; justify-content:left; min-height:331px;;}
	.goods-list>li{width:350px; }
	.goods-list-all>li{margin-bottom:50px; }
	.goods-list>li:not(:nth-child(3n+0)){margin-right:25px;}
	.goods-list>li>p:nth-child(1){position:relative; background:#fcfcfc;}
	.goods-list>li>p:nth-child(1)>a{display:inline-block; width:350px; height:350px; border:1px solid #ccc;}
	.goods-list>li>p:nth-child(1)>a>img{position:relative; width:100%; z-index:2;}
	
	.goods-list>li>p:nth-child(2)>a, .goods-name{margin-top:15px; min-height:60px; font-size:17px; color:#333; font-weight:600;}
	
	.goods-price{margin-top:20px; font-size:20px; color:#353535;}
	.goods-price>span:nth-child(3){padding-left:8px; color:#a56f63;}
	.goods-main-price>span:nth-child(3){padding:8px 0 0 8px; font-size:17px; font-weight:500; color:#e34e4e;}

	.cart-one-price>button:nth-child(1){padding-left:4px;}

	/*==============[goodsOne]===============*/
	.goods-wrap{display:flex; justify-content:space-between;}
	.goods-image-wrap{width:550px;}
	.goods-image-big{height:550px;}
	.goods-title>p{width:400px;}
	
	.reply-info>ul>li{padding:15px 20px 15px;}
	
	.star_line_total>i{font-size:30px;}
}

/*=====================[HD]========================*/
@media screen and (min-width:1150px) and (max-width:1499px){
	.flexslider_sub{margin-bottom:60px; background:transparent;}
	
	.goods-category-wrap>p:nth-child(1){font-size:33px;}
	.goods-category-wrap>div:nth-child(2)>p>a{font-size:20px;}
	
	.goods-list-cart>ul{padding:50px 69px;}
	.goods-list-cart>ul>li{margin:20px; width:200px;}
	.goods-list-cart>ul>li>a>span:nth-child(1){height:200px;}
	.goods-list-cart>ul>li>a>span:nth-child(2){min-height:75px;}
	.goods-list-cart>ul>li img{width:200px; height:200px;}
	
	.goods-list-order>li{display:flex; padding:20px 40px 20px 20px;}
	.goods-list-order>li>span>span:not(:nth-child(3)){display:inline-block; min-width:120px; text-align:right;}
	.goods-list-order>li>a>span{margin-right:20px;}
	.goods-list-order>li>a>span:nth-child(1){width:80px;}
	.goods-list-order>li>a>span:nth-child(2){line-height:80px; height:80px;}
	
	.goods-list-wrap{position:relative; width:100%;}
	.goods-list{display:flex; flex-wrap:wrap; justify-content:left; min-height:331px;;}
	.goods-list>li{width:350px; }
	.goods-list-all>li{margin-bottom:50px; }
	.goods-list>li:not(:nth-child(3n+0)){margin-right:25px;}
	.goods-list>li>p:nth-child(1){position:relative; background:#fcfcfc;}
	.goods-list>li>p:nth-child(1)>a{display:inline-block; width:350px; height:350px; border:1px solid #ccc;}
	.goods-list>li>p:nth-child(1)>a>img{position:relative; width:100%; z-index:2;}
	
	.goods-list>li>p:nth-child(2)>a, .goods-name{margin-top:15px; min-height:60px; font-size:17px; color:#333; font-weight:600;}
	
	.goods-price{margin-top:20px; font-size:20px; color:#353535;}
	.goods-price>span:nth-child(3){padding-left:8px; color:#a56f63;}
	.goods-main-price>span:nth-child(3){padding:8px 0 0 8px; font-size:17px; font-weight:500; color:#e34e4e;}

	.cart-one-price>button:nth-child(1){padding-left:4px;}

	/*==============[goodsOne]===============*/
	.goods-wrap{display:flex; justify-content:space-between;}
	.goods-image-wrap{width:550px;}
	.goods-image-big{height:550px;}
	.goods-title>p{width:400px;}
	
	.reply-info>ul>li{padding:15px 20px 15px;}
	
	.star_line_total>i{font-size:30px;}
}
/*=====================[TABLET]========================*/
@media screen and (min-width:745px) and (max-width:1149px){
	.flexslider_sub{margin:0 auto 60px; background:transparent;}
	
	.goods-list-cart>ul{padding:10px;}
	.goods-list-cart>ul>li{padding:20px; width:calc(50% - 10px);}
	.goods-list-cart>ul>li img{width:100%;}
	
	.goods-list-order>li{padding:20px 10px 20px;}
	.goods-list-order>li>span>span:not(:nth-child(3)){display:inline-block; text-align:left;}
	.goods-list-order>li>span>span:nth-child(1){min-width:120px;}
	.goods-list-order>li>a{margin-bottom:20px;}
	.goods-list-order>li>a>span:nth-child(1){width:20%;}
	.goods-list-order>li>a>span:nth-child(2){padding:0 10px; width:60%;}
	
	.goods-category-wrap>div:nth-child(2){margin:25px auto 0; flex-wrap:wrap; width:80%;}
	.goods-category-wrap>p:nth-child(1){font-size:30px; font-weight:800; letter-spacing:3px;}
	.goods-category-wrap>div:nth-child(2)>p>a{padding:15px 20px; font-size:18px; font-weight:600;}
	
	.goods-list-wrap{position:relative; margin:0 auto;}
	.goods-list{display:flex; flex-wrap:wrap; justify-content:left; min-height:331px;;}
	.goods-list>li{width:48%;}
	.goods-list-all>li{margin-bottom:10%;}
	.goods-list>li:not(:nth-child(2n+0)){margin-right:4%;}
	.goods-list>li>p:nth-child(1){position:relative; background:#fcfcfc;}
	.goods-list>li>p:nth-child(1)>a{padding-bottom:100%; display:inline-block; width:100%; border:1px solid #ccc;}
	.goods-list>li>p:nth-child(1)>a>img{position:absolute; width:100%; z-index:2;}
	
	.goods-list>li>p:nth-child(2)>a, .goods-name{margin-top:15px; min-height:60px; font-size:13px; color:#333; font-weight:600;}
	
	.goods-price{margin-top:10px; font-size:13px; color:#353535;}
	.goods-price>span:nth-child(3){padding-left:8px; width:100%; font-size:13px; color:#a56f63;}
	.goods-main-price>span:nth-child(3){padding:8px 0 0 0; font-size:17px; font-weight:500; color:#e34e4e;}
	
	.goods-quantity-tiny>input:nth-child(1){width:100%;}
	.goods-quantity-tiny>button:nth-child(2), .goods-quantity-tiny>button:nth-child(3){width:50%;}
	
	.cart-one-price>span{display:inline-block; width:100%;}
	
	#resultAllPrice>span{display:block;}
	
	/*==============[goodsOne]===============*/
	.goods-wrap{margin:0 auto; width:100%;}
	.goods-info-layout{margin-top:20px;}
	
	.goods-list-container{margin:0 auto;}
	.goods-list-container::before{display:none;}
	.goods-list-container::after{display:none;}
	.goods-list-cart>ul>li>a>span:nth-child(2){min-height:75px; font-size:13px;} 
	
	.reply-info>ul>li{padding:15px 10px 15px;}
	
	.star_line_total>i{font-size:15px;}
}
/*=====================[SMART PHONE]========================*/
@media screen and (max-width:744px){
	.flexslider_sub{margin:0 auto 60px; background:transparent;}
	
	.goods-list-cart>ul{padding:10px;}
	.goods-list-cart>ul>li{padding:20px; width:calc(50% - 10px);}
	.goods-list-cart>ul>li img{width:100%;}
	
	.goods-list-order>li{padding:20px 10px 20px;}
	.goods-list-order>li>a{margin-bottom:20px;}
	.goods-list-order>li>a>span:nth-child(1){width:40%;}
	.goods-list-order>li>a>span:nth-child(2){padding:0 10px; width:60%;}
	
	.goods-category-wrap>div:nth-child(2){margin:25px auto 0; flex-wrap:wrap; width:80%;}
	.goods-category-wrap>p:nth-child(1){font-size:30px; font-weight:800; letter-spacing:3px;}
	.goods-category-wrap>div:nth-child(2)>p>a{padding:15px 20px; font-size:18px; font-weight:600;}
	
	.goods-list-wrap{position:relative; margin:0 auto;}
	.goods-list{display:flex; flex-wrap:wrap; justify-content:left; min-height:331px;;}
	.goods-list>li{width:48%;}
	.goods-list-all>li{margin-bottom:10%;}
	.goods-list>li:not(:nth-child(2n+0)){margin-right:4%;}
	.goods-list>li>p:nth-child(1){position:relative; background:#fcfcfc;}
	.goods-list>li>p:nth-child(1)>a{padding-bottom:100%; display:inline-block; width:100%; border:1px solid #ccc;}
	.goods-list>li>p:nth-child(1)>a>img{position:absolute; width:100%; z-index:2;}
	
	.goods-list>li>p:nth-child(2)>a, .goods-name{margin-top:15px; min-height:60px; font-size:13px; color:#333; font-weight:600;}
	
	.goods-price{margin-top:10px; font-size:13px; color:#353535;}
	.goods-price>span:nth-child(3){padding-left:8px; width:100%; font-size:13px; color:#a56f63;}
	.goods-main-price>span:nth-child(3){padding:8px 0 0 0; font-size:17px; font-weight:500; color:#e34e4e;}
	
	.goods-quantity-tiny>input:nth-child(1){width:100%;}
	.goods-quantity-tiny>button:nth-child(2), .goods-quantity-tiny>button:nth-child(3){width:50%;}
	
	.cart-one-price>span{display:inline-block; width:100%;}
	
	#resultAllPrice>span{display:block;}
	
	/*==============[goodsOne]===============*/
	.goods-wrap{margin:0 auto; width:100%;}
	.goods-info-layout{margin-top:20px;}
	
	.goods-list-container{margin:0 auto;}
	.goods-list-container::before{display:none;}
	.goods-list-container::after{display:none;}
	.goods-list-cart>ul>li>a>span:nth-child(2){min-height:75px; font-size:13px;} 
	
	.reply-info>ul>li{padding:15px 10px 15px;}
	
	.star_line_total>i{font-size:15px;}
}
