@charset "UTF-8";

/*================[join]==================*/

.join .input-form{width:310px;}

.join li:last-child{margin-top:20px;}

#btn-idChk{margin-left:10px;}
.join .btn-ic-chk{width:200px;}


/*================[postChk]==================*/

form[name="post_chk_form"]{min-width:330px; height:100%; min-height:100vh; background:#f6f6f6;}
.pvo-list-container{padding:60px 10px 10px;}
.pvo-list{margin-top:-1px; padding:10px; background:#fff; border:1px solid #ccc; border-collapse:collapse;}
.pvo-list > li{padding:5px 0;}
.pvo-list > li:nth-child(1){color:#ff3131;}
.pvo-list > li:nth-child(2){display:flex;}
.pvo-list > li:nth-child(2)>span{
	margin:0 10px 0 0 ; padding:0 5px; width:50px; height:21px; 
	background:#fff; 
	border:1px solid #ccc;
	text-align:center; font-size:12px; color:#6bb9ff;
}
.pvo-list > li:nth-child(2)>div{display:inline; cursor:pointer;}
.pvo-list > li:nth-child(2)>div:hover{color:#333;}

/*================[login]==================*/


/*.login.defalut-form-in-ul>li:nth-child(2){display:block;}*/
.login.defalut-form-in-ul>li:nth-child(3){padding:20px 15px 20px;}

.btn-cilrcle-defalut + span{padding-left:5px;}

/*================[idPwdSearch]==================*/
.idPwdSearch-container>div>div+p{padding:10px 0 0 0 ;}
.idPwdSearch-container>div>ul{padding:0;height:348px;}
.idPwdSearch-container>div:first-child ul{padding-top:40px;}
.idPwdSearch-container>div:last-child ul{padding-top:10px;}




/*================[mypage]==================*/

.user-info{margin:0 auto 50px; min-height:120px; border:1px solid #ccc; }

.user-info-basic{padding:40px 0; justify-content:space-between; align-items:center;}
.user-info-basic>div:first-child{padding:0 50px;}
.user-info-basic>div:first-child>h3{text-transform:uppercase;}
.user-info-basic>div:first-child>h3>span{color:#a56f63;}
.user-info-basic>ul{display:flex; height:100%;}
.user-info-basic>ul>li{padding:20px 0; height:60%; border-right:1px solid #ccc; text-align:center;}
.user-info-basic>ul>li:last-child{border:none;}
.user-info-basic>ul>li>p:first-child{font-size:40px; color:#a56f63;}
.user-info-basic>ul>li>p:nth-child(2){font-weight:bold;}

.user-info-orders-step{justify-content:center; align-items:center; }
.user-info-orders-step>ul{display:flex; align-items:center; text-align:center;}
.user-info-orders-step>ul>li>p:nth-child(2){margin:10px auto 0; width:50px; height:50px; background:#e7dcdd; border-radius:25px; line-height:50px; color:#1a3757; font-weight:bold;}
.user-info-orders-step>div>p{line-height:25px;}
.user-info-orders-step>div>p>strong{margin-right:50px;}

.user-info-orders{border:none; border-top:2px solid #ccc; border-bottom:1px solid #ccc;}

.user-info-alert{display:block; padding:40px 80px; text-align:center;}

.mypage-order-search{display:flex; flex-wrap:wrap; background:#f7f3eb; border:1px solid #ccc;}
.mypage-order-search>li:first-child{width:100%;}
.mypage-order-search>li:last-child>button{margin:0 auto; width:100px; height:50px;}
.mypage-order-search>li>label{font-weight:900;}

/*=====================[FHD]========================*/
@media screen and (min-width:1500px){
	
	/*================[mypage]==================*/
	.user-info-basic>ul>li{width:200px;}
	.user-info:not(.user-info-alert){display:flex;}
	.user-info-orders-step>ul{justify-content:center;}
	.user-info-orders-step>ul>li{padding:20px;}
	.user-info-orders-step>div{margin-left:50px;padding-left:40px; border-left:1px solid #ccc;}
	
	.mypage-order-search>li{padding:10px 0;}
	.mypage-order-search>li:nth-child(2){width:80%;}
	.mypage-order-search>li>label{padding:15px 15px 15px 30px; width:100px;}
	.mypage-order-search>li>div{padding:15px; width:calc(100% - 150px);}
	.mypage-order-search>li:last-child{width:20%;}
	.mypage-order-search>li:not(:last-child){display:flex;}
	
	/*================[idPwdSearch]==================*/
	.idPwdSearch-container{margin:0 auto 50px; display:flex; justify-content:space-between; width:1060px;}
	.idPwdSearch-container>div{
		position:relative; padding:60px 70px 0;width:500px; height:500px; max-width:500px;border:1px solid #ccc; border-radius:20px;
		box-shadow:0 2px 10px #ccc;
	}
	.idPwdSearch-container>div>ul>li:last-child{position:absolute; bottom:40px; width:358px;}
}

/*=====================[HD]========================*/
@media screen and (min-width:1150px) and (max-width:1499px){
	
	/*================[mypage]==================*/
	.user-info-basic>ul>li{width:200px;}
	.user-info:not(.user-info-alert){display:flex;}
	.user-info-orders-step>ul{justify-content:center;}
	.user-info-orders-step>ul>li{padding:20px;}
	.user-info-orders-step>div{margin-left:50px;padding-left:40px; border-left:1px solid #ccc;}
	
	.mypage-order-search>li{padding:10px 0;}
	.mypage-order-search>li:nth-child(2){width:80%;}
	.mypage-order-search>li>label{padding:15px 15px 15px 30px; width:100px;}
	.mypage-order-search>li>div{padding:15px; width:calc(100% - 150px);}
	.mypage-order-search>li:last-child{width:20%;}
	.mypage-order-search>li:not(:last-child){display:flex;}
	
	/*================[idPwdSearch]==================*/
	.idPwdSearch-container{margin:0 auto 50px; display:flex; justify-content:space-between; width:1060px;}
	.idPwdSearch-container>div{
		position:relative; padding:60px 70px 0;width:500px; height:500px; max-width:500px;border:1px solid #ccc; border-radius:20px;
		box-shadow:0 2px 10px #ccc;
	}
	.idPwdSearch-container>div>ul>li:last-child{position:absolute; bottom:40px; width:358px;}
}
/*=====================[TABLET]========================*/
@media screen and (min-width:745px) and (max-width:1149px){
	
	/*================[mypage]==================*/
	.user-info-basic>div:first-child{margin-bottom:20px; text-align:center;}
	.user-info-basic>ul{justify-content:center;}
	.user-info-basic>ul>li{width:50%;}
	.user-info-orders-step>ul{flex-wrap:wrap;}
	.user-info-orders-step{padding:20px;}
	.user-info-orders-step>ul>li:nth-child(odd){padding:20px 10px; width:30%;}
	.user-info-orders-step>ul>li:nth-child(even){width:3%;}
	.user-info-orders-step>div{margin-top:20px; padding-top:20px; border-top:1px solid #ccc; text-align:center;}
	
	.mypage-order-search>li:not(:last-child){padding:20px 0 0 0;}
	.mypage-order-search>li:nth-child(2){width:100%;}
	.mypage-order-search>li>label{padding:15px; width:80px;}
	.mypage-order-search>li>div{display:flex; padding:15px;}
	.mypage-order-search>li:last-child{margin:20px auto;}
	
	.order-search-type{margin-right:2%; width:38%;}
	.order-search-type+input{width:60%;}
	.order-date-range>input{width:48%;}
	
	/*================[idPwdSearch]==================*/
	.idPwdSearch-container{margin:0 auto 50px; justify-content:space-between; width:calc(100% - 40px);}
	.idPwdSearch-container>div{
		position:relative; margin:0 auto 40px; padding:60px 45px 0; width:100%; max-width:500px;border:1px solid #ccc; border-radius:20px;
		box-shadow:0 2px 10px #ccc;
	}
	.idPwdSearch-container>div>ul>li:last-child{position:absolute; left:50%; bottom:40px; width:200px; transform:translateX(-50%);}
}
/*=====================[SMART PHONE]========================*/
@media screen and (max-width:744px){
	
	/*================[mypage]==================*/
	.user-info-basic>div:first-child{margin-bottom:20px; text-align:center;}
	.user-info-basic>ul{justify-content:center;}
	.user-info-basic>ul>li{width:50%;}
	.user-info-orders-step>ul{flex-wrap:wrap;}
	.user-info-orders-step{padding:20px;}
	.user-info-orders-step>ul>li:nth-child(odd){padding:20px 10px; width:30%;}
	.user-info-orders-step>ul>li:nth-child(even){width:3%;}
	.user-info-orders-step>div{margin-top:20px; padding-top:20px; border-top:1px solid #ccc; text-align:center;}
	
	.mypage-order-search>li:not(:last-child){padding:20px 0 0 0;}
	.mypage-order-search>li:nth-child(2){width:100%;}
	.mypage-order-search>li>label{padding:15px; width:80px;}
	.mypage-order-search>li>div{display:flex; padding:15px;}
	.mypage-order-search>li:last-child{margin:20px auto;}
	
	.order-search-type{margin-right:2%; width:38%;}
	.order-search-type+input{width:60%;}
	.order-date-range>input{width:48%;}
	
	/*================[idPwdSearch]==================*/
	.idPwdSearch-container{margin:0 auto 50px; justify-content:space-between; width:calc(100% - 40px);}
	.idPwdSearch-container>div{
		position:relative; margin:0 auto 40px; padding:60px 45px 0; width:100%; max-width:500px;border:1px solid #ccc; border-radius:20px;
		box-shadow:0 2px 10px #ccc;
	}
	.idPwdSearch-container>div>ul>li:last-child{position:absolute; left:50%; bottom:40px; width:200px; transform:translateX(-50%);}
}




