@charset "UTF-8";


/* 영문 서체(제목:명조체)와 한글 서체(제목, 본문내용:고딕체)를 fonts.google.com에서 지정한다. */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap')
/* font-family: "Lora", serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
/*font-family: "Tenor Sans", sans-serif;*/


*{margin:0; padding:0; box-sizing:border-box;}
a{display:block; text-decoration:none; color:#757575;}
ul li{list-style:none;}
body {font-family: "Noto Sans KR", sans-serif; font-size:15px; color:#757575;background:#fff; }
/*h1, h2, h3, h4, h5, h6 {font-family: "Lora", serif;}*/
h1, h2, h3, h4, h5, h6{font-family: "Tenor Sans", sans-serif;}


/*===============[input]===============*/
.input-default{
	display:block;  
	color:#757575; font-size:13px;
	border:0; outline:0; 
}
.input-default:not(textarea){line-height:60px; }
.input-bottom-border{padding:10px 15px; width:100%; height:50px; border-bottom:1px solid #ddd; }
.input-full-border{padding:0 15px; width:200px; height:30px; border:1px solid #ccc; }

input[readonly]{color:#ccc;}

li.input-btn-container {justify-content:space-between;}

select.input-form-border{width:150px;}

.search-form{position:fixed; left:0; top:0; width:100%;}


input[type="radio"] {display:none;}
input[type="radio"] + label:not(.radio-visible label, .star_line_input>label, .star_line_input>label){
	display:block;  padding:8px 0; background:#ffffff; border:1px solid #ccc; border-radius:7px;
	text-align:center; 
	cursor:pointer;
}
input[type="radio"]:checked + label:not(.radio-visible label, .star_line_input>label, .star_line_input>label){border:2px solid #b98b80; color:#a56f63;}

.radio-container-2child label{width:49.0%;}
.radio-container-3child label{width:32.0%;}
.radio-visible input[type="radio"]{display:inline;}
.radio-visible>li>div>label{margin : 0 15px 0 5px;}

.date-range span, .price-range span{padding:0 8px; font-weight:bold;}

.page-select-bar{margin-bottom:40px ;padding:0; left:0; top:0; border-collapse:collapse;}
.page-select-bar>span{width:50%; height:60px; text-align:center; line-height:60px; }
.page-select-bar>span>a{width:100%; height:100%;}
.top-now-selected{
	border-radius: 0 0 10px 10px; background:#fff; border:1px solid #ddd; border-top:none;
	background:#fff;
}

.inputChkContainer>p{display:none; font-size:13px; }

.size-fixed-textarea{margin:15px 0; padding:10px 15px; height:200px; resize:none;}
.goods-content-textarea{margin:15px 0; padding:10px 15px; width:80%; height:2000px; resize:none;}

.search-null-result{padding:50px 20px; width:100%;text-align:center;}

/*==============[input-layout]===============*/

.input-layout{margin:0 auto; }
.input-layout>li{justify-content:left; margin:0 auto;}
.input-layout>li.login-status{justify-content:space-between; align-items:center;}
.input-layout>li.login-status>p{display:flex; justify-content:space-between; align-items:center;}
.input-layout>li:not(.page-select-bar, .radio-title, .big-content, .inputChkContainer){padding:10px 0;}
.input-layout label:first-child:not(.label-twoLine){width:100px; font-size:13px; line-height:50px; color:#757575; font-weight:600;}
.input-layout label:first-child:not(.label-twoLine) span{display:inline-block; width:10px; color:#ff3131;}
.input-layout label:first-child.label-twoLine {padding-top:6px; width:100px; height:50px; font-size:13px; color:#757575;}
.input-layout label:first-child.label-twoLine  span{display:block; padding-left:10px; line-height:18px;}
.input-layout .radio-container{ margin-top:10px;}
.input-layout .radio-container>div{display:flex; justify-content:space-between; align-items:center;}

.always-flex-layout>li{display:flex;}

.input-layout-wide .input-form{width:calc(100% - 130px); }

.input-layout-narrow{padding:40px 0 30px;position:relative; overflow:hidden; }

.input-layout-border{margin:20px auto 50px;  padding:80px 0;  border:1px solid #ccc; }

.input-layout-order-info{margin:20px auto 50px;  padding:40px 0;  border:1px solid #ccc; }
.input-layout-order-info>li>p{font-size:13px; line-height:50px; color:#c7c7c7;}

.radio-title{height:30px;}
.radio-container>div{display:flex; justify-content:space-between; align-items:center;}

.search-layout{margin:20px auto 100px; padding:60px 0 30px; border:1px solid #ccc;}
.search-layout>li{padding:10px 0; display:flex; justify-content:center; margin:0 auto;}
.search-layout label{width:100px; font-size:18px; line-height:50px; color:#757575;}
.search-layout .input-btn-container input[type="text"]{width:490px;}
 
.search-keyward-list{display: flex; width:90%;}
.search-keyward-list>li{padding:0 20px;}
.search-keyward-list>li>a{line-height:50px; color:#a56f63;}
 
 .max-over-alert{color:#e34e4e; display:none;}

.textarea-layout>*{margin:0 auto;}

.divide-layout>p:not(:last-child)::after{margin-left:10px; display:inline-block; content:"|"; width:20px; text-align:center;}

.testarea-layout{padding:20px 10px;}
.testarea-layout>p{margin:0 auto;}
.testarea-layout>p>img{width:100%;}

/*==============[button]==============*/
.btn{
	background:none; border:0;
	text-align:center; font-weight:bold;
	cursor:pointer;
}
.btn>button{background:none; border:none; cursor:pointer;}
.btn-small{padding:0 10px; height:30px; line-height:30px; cursor:pointer;}
.btn-tiny{background:none; border:0; cursor:pointer;}

.btn-submit{width:100%;}
.btn-confirm{display:block; margin:0 auto; padding:15px 40px;}
.btn[disabled="disabled"]{background:#ccc; color:#9a9a9a; pointer-events:none;}
.btn-circle{border-radius:50%; }
.btn-half{width:49%; }
.btn-mini-square{padding:0; width:40px; height:40px; border:1px solid #ccc; text-align:center; font-size:20px;}
.btn-tiny-square{padding:0; width:30px; height:30px; border:1px solid #e3e3e3; text-align:center; cursor:pointer;}

/*---button colors---*/
.btn-defalut{background:#ccc;}
.btn-defalut:hover{background:#9a9a9a;}
.btn-main{background:#a56f63; color:#f6f6f6;}
.btn-main:hover{background:#cab3aa;}
.btn-navy{background:#1a3757; color:#f6f6f6;}
.btn-navy:hover{background:#102236; color:#f6f6f6;}
.btn-white{background:#f6f6f6; border:1px solid #ccc;}
.btn-white:hover{background:#e4e4e4; }
.btn-alert{background:#e34e4e; color:#f6f6f6;}
.btn-alert:hover{background:#a71b1b;}
.btn-lightNavy{background:#336baa; color:#f6f6f6;}

/*---button circle---*/
.btn-cilrcle-defalut{
	width:25px; height:25px; line-height:25px;
	font-size:20px; text-align:center;
	background:#fff; border:1px solid #9a9a9a; color:#9a9a9a;
	cursor:pointer
}
.btn-search-icon-container{
	display:flex; position:absolute; margin-right:10px; right:0; top:0; width:80px; height:49px;
}
.btn-search-icon{ 
	margin:0; padding:0; width:40px; height:49px;
	font-size:18px; text-align:center; font-weight:bold;
	background:rgba(255,255,255,0.9);
	line-height:49px;
	}
.btn-cilrcle-click{color:#fff; background:#a56f63; border:1px solid #f6f6f6;}

/*---confirm-btn---*/
.confirm-btn-container{display:flex; justify-content:center;}
.confirm-btn-container>.btn{margin:0 2px;min-width:110px;}

/*==============[listpaging]==============*/
.page-cnt-btn-container{display:flex; justify-content:center;}
.list_length{margin-bottom:20px;  font-weight:700; text-align:left;}

/*==============[banner]===============*/
.banner-index{height:100vh; }
.banner-index-1{background:url(/resources/images/temp_banner1.jpg) no-repeat center top;  }
.banner-index-2{background:url(/resources/images/temp_banner2.jpg) no-repeat center top;  }
.banner-index-3{background:url(/resources/images/temp_banner3.jpg) no-repeat center top;  }
.banner-index-4{background:url(/resources/images/temp_banner4.jpg) no-repeat center top;  }
.banner-member{height:200px; background:url(/resources/images/member-bannner.jpg) no-repeat center 220%;  background-attachment:fixed;}
.banner{
	position:relative; width:100%; min-width:340px; padding:90px 0 0 0; text-align:center;
	background-size:cover; background-attachment:fixed;
}
.banner h2{color:#f6f6f6; }
.banner p{color:#f6f6f6;}

.banner div{
	position:absolute; top:53%; width:100%;
	text-align:center;
	transform:translateY(-50%);
	color:#f6f6f6; text-shadow:0 0 25px #000, 0 0 15px #000;
}

.banner div a{margin:30px auto 0; width:120px; padding:10px 0; background:#1a3757; color:#f6f6f6;}

/*==============[image icon]===============*/
.img-icon{display:block; width:60px; margin:0 auto}
.img-icon + h3{text-align:center; font-family: "Noto Sans KR", sans-serif; padding:5px 0 20px 0;}

/*==============[section-tab-bar]===============*/
.section-tab-bar{background:#f9f9f9; border-bottom:1px solid #e1e1e1;}
.section-tab-bar>ul{display:flex; margin:0 auto; height:40px;  align-items:center;  overflow:hidden; }
.section-tab-bar li{padding:0 10px; height:40px; border-left:1px solid #e7dcdd; line-height:40px; font-weight:bold; }
.section-tab-bar li:first-child{border-left:none;}

/*=====================[FHD]========================*/
@media screen and (min-width:1500px){
	#black-screen{display:none;}
	
	.size-fixed-textarea{width:43%;}
	
	.input-layout-wide>li{width:70%;}
	.input-layout .radio-container>div{width:50%;}
	.input-layout .input-btn-container input[type="text"]{width:490px;}
	.input-layout>li{display:flex;}
	
	.testarea-layout>p{width:900px;}
	
	.search-layout>li>input{margin-left:10%; width:80%;}
	.search-keyward-list>li:first-child{margin-left:10%;}
	
	.date-range input, .price-range input{width:150px;}
	
	.radio-container>div{width:calc(100% - 120px);}
	
	.inputChkContainer{padding-left:110px;}
	
	/*==============[button]==============*/
	.btn:not(.btn-mini-square){padding:15px;}
	
	/*==============[banner]===============*/
	.banner-index{height:100vh;}
	.banner h2{font-size:40px;}
	.banner div h2{font-size:40px; line-height:65px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar>ul{width:1100px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar .now-tab{background:#a56f63;}
	.section-tab-bar li:not(.now-tab){background:#f9f9f9; }
	.section-tab-bar li.now-tab{color:#fff;}
}

/*=====================[HD]========================*/
@media screen and (min-width:1150px) and (max-width:1499px){
	#black-screen{display:none;}
	
	.size-fixed-textarea{width:43%;}
	
	.input-layout-wide>li{width:70%;}
	.input-layout .radio-container>div{width:50%;}
	.input-layout .input-btn-container input[type="text"]{width:490px;}
	.input-layout>li{display:flex;}
	
	.search-layout>li>input{margin-left:10%; width:80%;}
	.search-keyward-list>li:first-child{margin-left:10%;}
	
	.date-range input, .price-range input{width:150px;}
	
	.radio-container>div{width:calc(100% - 120px);}
	
	.inputChkContainer{padding-left:110px;}
	
	/*==============[button]==============*/
	.btn:not(.btn-mini-square){padding:15px;}
	
	/*==============[banner]===============*/
	.banner-index{height:100vh;}
	.banner h2{font-size:40px;}
	.banner div h2{font-size:40px; line-height:65px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar>ul{width:1100px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar .now-tab{background:#a56f63;}
	.section-tab-bar li:not(.now-tab){background:#f9f9f9; }
	.section-tab-bar li.now-tab{color:#fff;}
}
/*=====================[TABLET]========================*/
@media screen and (min-width:745px) and (max-width:1149px){
	#black-screen{position:fixed; left:100%; top:0; width:100%; height:100%; background:rgba(51, 51, 51, 0.9); transition:all 0.4s ease; z-index:10;}
	
	.input-layout>li>label{display:block;}
	.input-layout-wide>li{width:85%;}
	.input-layout .input-btn-container input[type="text"]{width:130px;}
	
	.date-range input, .price-range input{width:calc(50% - 15px);}
	
	.input-address>input, .input-address>button{display:inline;}
	
	.search-layout>li>label, .search-layout>li>a{font-size:13px;}
	.search-layout>li>input{margin-left:20px; width:80%;}
	.search-keyward-list{flex-wrap:wrap;}
	
	.radio-container>div{width:100%;}
	
	.inputChkContainer{padding-left:10px;}
	
	/*==============[button]==============*/
	.btn:not(.btn-mini-square){padding:10px;}
	.btn-page{padding:5px;}
	
	/*==============[banner]===============*/
	.banner-index{height:600px;}
	.banner h2{margin-bottom:10px; font-size: 30px; line-height: 40px;}
	.banner div h2{margin-bottom:20px; width:calc(100% - 20px); font-size:30px; line-height:40px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar>ul{width:100%;}
	
	/*==============[listpaging]==============*/
	.list_length{margin-bottom:20px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar:not(.select-tab-bar) li:not(.now-tab){display:none}
	.section-tab-bar:not(.select-tab-bar) li.now-tab{width:100%; text-align:center; color:#333;}
	.select-tab-bar li.now-tab{background:#a56f63; color:#fff;}
	
	.textarea-layout>p{width:100%;}
}
/*=====================[SMART PHONE]========================*/
@media screen and (max-width:744px){
	#black-screen{position:fixed; left:100%; top:0; width:100%; height:100%; background:rgba(51, 51, 51, 0.9); transition:all 0.4s ease; z-index:10;}
	
	.input-layout>li>label{display:block;}
	.input-layout-wide>li{width:85%;}
	.input-layout .input-btn-container input[type="text"]{width:130px;}
	
	.date-range input, .price-range input{width:calc(50% - 15px);}
	
	.input-address>input, .input-address>button{display:inline;}
	
	.search-layout>li>label, .search-layout>li>a{font-size:13px;}
	.search-layout>li>input{margin-left:20px; width:80%;}
	.search-keyward-list{flex-wrap:wrap;}
	
	.radio-container>div{width:100%;}
	
	.inputChkContainer{padding-left:10px;}
	
	/*==============[button]==============*/
	.btn:not(.btn-mini-square){padding:10px;}
	.btn-page{padding:5px;}
	
	/*==============[banner]===============*/
	.banner-index{height:600px;}
	.banner h2{margin-bottom:10px; font-size: 30px; line-height: 40px;}
	.banner div h2{margin-bottom:20px; width:calc(100% - 20px); font-size:30px; line-height:40px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar>ul{width:100%;}
	
	/*==============[listpaging]==============*/
	.list_length{margin-bottom:20px;}
	
	/*==============[section-tab-bar]===============*/
	.section-tab-bar:not(.select-tab-bar) li:not(.now-tab){display:none}
	.section-tab-bar:not(.select-tab-bar) li.now-tab{width:100%; text-align:center; color:#333;}
	.select-tab-bar li.now-tab{background:#a56f63; color:#fff;}
	
	.textarea-layout>p{width:100%;}
	
}


