<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sera.mappers.adminMember">
	
	<select id="getMemberListDefault" parameterType="Map"  resultType="org.member.domain.MemberVO">
		select * from tbl_member
		where active = #{active}
		<if test="!active.equals('no')">
			and black_list = #{blackList}
		</if>
		order by reg_date desc
		limit #{page_cnt}, #{PAGE_MAX_MEMBER_CNT}
	</select>
	
	<select id="getMemberListDefaultCnt" parameterType="Map"  resultType="int">
		select count(user_id) from tbl_member
		where active = #{active}
		<if test="!active.equals('no')">
			and black_list = #{blackList}
		</if>
	</select>
	
	<select id="memberListSearch" parameterType="Map" resultType="org.member.domain.MemberVO">
		select * from tbl_member
		where ${searchKeyType} like concat("%",#{searchKeyValue}, "%") 
		and active = #{active}
		<if test="!active.equals('no')">
			and black_list = #{blackList}
		</if>
		<if test="!grade.equals('all')">
			and grade = #{grade}
		</if>
		<if test="!gender.equals('all')">
			and gender = #{gender}
		</if>
		<if test="!skinType.equals('all')">
			and skin_type = #{skinType}
		</if>
		<if test="!accessRoute.equals('all')">
			and access_route = #{accessRoute}
		</if>
		and ${dateRangeSelect} between #{dayBegin} and DATE_ADD(#{dayEnd}, interval 1 day)
		order by ${turnSelect} ${listSort}
		limit #{page_cnt}, #{PAGE_MAX_MEMBER_CNT}
	</select>
	
	<select id="memberListSearchCnt" parameterType="Map" resultType="int">
		select count(user_id) from tbl_member
		where ${searchKeyType} like concat("%",#{searchKeyValue}, "%") 
		and active = #{active}
		<if test="!active.equals('no')">
			and black_list = #{blackList}
		</if>
		<if test="!grade.equals('all')">
			and grade = #{grade}
		</if>
		<if test="!gender.equals('all')">
			and gender = #{gender}
		</if>
		<if test="!skinType.equals('all')">
			and skin_type = #{skinType}
		</if>
		<if test="!accessRoute.equals('all')">
			and access_route = #{accessRoute}
		</if>
		and ${dateRangeSelect} between #{dayBegin} and DATE_ADD(#{dayEnd}, interval 1 day)
	</select>
	
	<select id="getMaxprice"  parameterType="Map" resultType="String">
		select max(${priceRagneSelect}) from tbl_goods
	</select>
	
	<update id="memberOneModify" parameterType="org.member.domain.MemberVO">
		update tbl_member set
		name = #{name},
		nick_name = #{nick_name},
		grade =  #{grade},
		tel = #{tel},
		gender = #{gender},
		skin_type = #{skin_type},
		post_code = <choose><when test="post_code == null">post_code</when><otherwise>#{post_code}</otherwise></choose>,
		address = <choose><when test="address == null">address</when><otherwise>#{address}</otherwise></choose>,
		brand = <choose><when test="brand == null">brand</when><otherwise>#{brand}</otherwise></choose>,
		email = <choose><when test="email == null">email</when><otherwise>#{email}</otherwise></choose>,
		birth = <choose><when test="birth == null">birth</when><otherwise>#{birth}</otherwise></choose>,
		black_list = #{black_list},
		black_list_reson = #{black_list_reson},
		active = #{active},
		active_conver_reson = #{active_conver_reson},
		member_type = #{member_type},
		up_date = now()
		where user_id = #{user_id}
	</update>
	
	<update id="sleeperConver" parameterType="org.member.domain.MemberVO">
		update tbl_member set
		active = 'yes',
		active_conver_reson = null
		where user_id = #{user_id}
	</update>
	
	<update id="blacklistConver" parameterType="org.member.domain.MemberVO">
		update tbl_member set
		black_list = 'no',
		black_list_reson = null
		where user_id = #{user_id}
	</update>

</mapper>

