@charset "UTF-8";

section{min-width:340px;}

#top-logo a{color:#f6f6f6;}
.page-title{margin:0 auto;font-weight:bold; text-transform:uppercase;}
.page-title::after{content:""; display:block; max-width:250px; border-bottom:1px solid #a2a2a2;}
.page-title>span:nth-child(1){font-size:20px; color:#a2a2a2;}
.page-title>span:nth-child(2){font-size:40px; color:#282828;}
.page-title + p{margin:0 auto; padding:10px 20px 0; /*width:450px;*/}
.page-title + p span{display:inline-block; width:10px; color:#ff3131;}
.page-title-join-emp{margin-top:150px;}

.content-title{margin:80px auto 10px; }
.content-title+p{margin:0 auto;}
.content-title+p span{display:inline-block; width:10px; color:#ff3131;}
.content-title-narrow-margin{margin:20px auto 10px;}

#burger-line{display:inline-block; margin-top:10px; width:25px;}
#burger-line>span{display:block; height:2px; background:#fff;}
#burger-line>span:not(:last-child){margin-bottom:8px;}

.full-section>div>h2{margin:0 auto 30px; color:#a56f63; text-align:center;}

.index-item-list>li>p:nth-child(1)>a{padding-bottom:100%;}

#post_chk_form{min-width:340px; max-width:680px;}

/*==============[section-table]===============*/
.user-list-view{width:100%; text-align:center;}
.user-list-view>li{display:table; width:100%;}
.user-list-view>li:first-child{padding:0 10px;background:#a56f63; color:#f6f6f6; font-weight:bold;}
.user-list-view>li>p{display:table-cell; padding:6px; vertical-align:middle; border-left:1px solid #ccc; border-top:none; overflow:hidden; font-size:12px;}
.user-list-view>li>p:first-child{border-left:none;}

.user-list-order{padding-bottom:20px; background:#f6f6f6;}

.user-list-order>li:not(:first-child){padding:10px 10px 0 10px; }
.user-list-order>li>ul>li>p{display:table-cell; padding:6px; vertical-align:middle; background:#fff;border:1px solid #f6f6f6; border-top:none; overflow:hidden; font-size:10px;}
.user-list-order>li>ul>li>p>span>button{font-size:10px;}

.user-list-order>li>ul>li:not(:first-child){display:none;}
.user-list-order>li>ul>li>p>a>*{text-align:left; float:left;}
.user-list-order>li>ul>li>p>a>span{ display:flex; align-items:center;  height:80px;}
.user-list-order>li>ul>li>p>a>span:first-child{width:80px;}
.user-list-order>li>ul>li>p>a>span:last-child{margin-left:5px;}
.user-list-order>li>ul>li>p>a>span>img{width:80px; height:80px;}
.user-list-order>li>ul>li>p>button{font-size:10px;}

/*.btn-order-cancel{padding:10px 6px; background:#fff; border:1px solid #f6f6f6; }
.btn-order-cancel>button{padding:5px 10px; background:#1a3757; color:#fff; font-size:10px; font-weight:bold; cursor:pointer;}
*/
.order-more-view{padding:5px; font-weight:500; font-size:12px; cursor:pointer;}
.order-more-view>span{margin-right:5px;}


/*=====================[FHD]========================*/
@media screen and (min-width:1500px){
	
	body{min-width:1480px;}
	
	header{
		position:fixed; left:0; top:0;  width:100%; height:60px;
		background: rgba(255,255,255,0);
		overflow:hidden; 
		transition:all 0.4s ease-in-out ;
		z-index:4;
	}
	header::before{
		content:""; display:block; 
		position:absolute; left:0; top:0; width:100%; height:100%; 
		/*background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));*/
		background:#a56f63;
		opacity:0; z-index:-1;
		transition:all 0.4s ease-in-out; 
	}
	
	header nav li, header nav li a, header nav li button{color:#fff; font-weight:500; }
	header nav li{transition:all 0.5s ease; }
	header nav li a{transition:all 0.1s ease; }
	nav, section{margin:0 auto;}
	nav{display:flex; justify-content:space-between; width:1400px; height:60px; transition:all 0.5s ease-in-out ;}
	section:not(.full-section, .section-login, .admin-section-login, .section-idPwdSearch){position:relative; padding:100px 0 150px; width:1100px;}
	.section-login{margin:0 auto; padding:150px 25px 150px; width:450px;}
	.section-idPwdSearch{padding:100px 0 80px; width:1100px;}
	
	#top-logo{display:block; line-height:60px; padding:0 0 0 15px;}
	
	.main-menu-mobile-container{display:none;}
	.main-menu{display:flex; justify-content:center; text-align:center;}
	.main-menu>li{position:relative; line-height:60px; height:380px; transition:all 0.3s ease-in-out; overflow:hidden;}
	.main-menu a{padding:0 30px; /*transition:all 0.1s ease 0.3s;*/}
	.main-menu>li>a{line-height:60px; border-bottom:1px solid #ccc; font-size:15px; }
	
	.sub-menu{padding-top:7px}
	.sub-menu a{line-height:40px; font-size:14px;}
	
	.user-menu{display:flex;}
	.user-menu li, .user-menu a, .user-menu-mobile li, .user-menu-mobile a{line-height:60px; padding:0 10px; font-size:13px;}
	.user-menu-hd, .user-menu-mobile{display:none;}
	
	.user-list-order>li>p:nth-child(1), .user-list-order>li>p:nth-child(3), 
	.user-list-order>li>p:nth-child(5), .user-list-order>li>p:nth-child(6), 
	.user-list-order>li>p:nth-child(7) {width:8%;}
	.user-list-order>li>p:nth-child(2){width:30%;}
	.user-list-order>li>p:nth-child(4){width:12%;}
	.user-list-order>li>p:nth-child(8), .user-list-order>li>p:nth-child(9){width:9%;}
	
	.user-list-order>li>ul>li>p:nth-child(1), .user-list-order>li>ul>li>p:nth-child(3),
	.user-list-order>li>ul>li>p:nth-child(5), .user-list-order>li>ul>li>p:nth-child(6), 
	.user-list-order>li>ul>li>p:nth-child(7){width:8%; word-break:break-all;}
	.user-list-order>li>ul>li>p:nth-child(2){width:30%;}
	.user-list-order>li>ul>li>p:nth-child(4){width:12%;}
	.user-list-order>li>ul>li>p:nth-child(8), .user-list-order>li>ul>li>p:nth-child(9){width:9%;}
	
	.user-list-order>li>ul>li>p>a>span:last-child{width:220px;}
	
	.flexslider_main{min-width:1480px;}
	
	.full-section{min-width:1480px;}
	.full-section>div>h2{width:1360px;}
	
	.index-container{margin-top:-5px;  padding:80px 0; background:#f7f3eb;}
	
	.index-item-slide-container{background:#fff4eb;}
	
	.half-banner{display:flex;}
	.half-banner>p{display:inline-block; width:50%;}
	.half-banner>p>a>img{width:100%;}
	
	.tab-bar{display:flex; margin:0 auto; width:1360px; justify-content:center; text-align:center; }
	.tab-bar>li{padding:5px 20px; font-weight:bold; cursor:pointer}
	.tab-bar>li.now-selected{color:#a56f63;}
	
	.index-item-list-container{position:relative; margin:40px auto; width:1360px; height:1500px; overflow:hidden; z-index:1;}
	.index-item-list-container>ul{display:flex; position:absolute; left:0; top:0; width:4080px; transition:all ease 0.3s;}
	.index-item-list-container>ul>li{width:1360px;}
	.index-item-list{display:flex; flex-wrap:wrap;}
	.index-item-list>li{margin-bottom:60px; padding-bottom:20px; width:295px;}
	.index-item-list>li:not(:nth-child(4n)){margin-right:60px; }
	.index-item-list>li>p:nth-child(1){height:295px;}
	
	footer{width:100%; min-width:1480px; height:400px; background:#2e2e2e; color:#fff;}
	.footer-wrap{display:flex; justify-content:space-between; width:1100px; padding:100px 0; margin:0 auto;}
	.sns{display:flex;}
	.sns>li{padding:0 5px;}
	.sns a{color:#f6f6f6;}
	
	/*==========hover============*/
	header:hover{
		height:380px; 
		/*border-bottom:1px solid #ccc;*//*#a56f63*/
		/*background: rgba(255,255,255,1);*/
	}
	header:hover::before{opacity:1;}
	header:hover nav li ,header:hover nav li a{color:#fff;/*color:#282828;*/}
	
	.main-menu>li:hover{background:#64373c;}
	.main-menu>li:hover>a{color:#e7bcc1; border-bottom:1px solid #a56f63;}
	.sub-menu a:hover{color:#e7bcc1;}
	
	.user-menu a:hover{border-bottom:1px solid #f6f6f6;}
	
	/*==========headerActive============*/
	.headerActive{/*border-bottom:1px solid #ccc;*/}
	.headerActive::before{opacity:1;}
	.headerActive nav li, .headerActive nav li a{color:#fff;}
	
}

/*=====================[HD]========================*/
@media screen and (min-width:1150px) and (max-width:1499px){
	
	body{min-width:1130px;}
	
	header{
		position:fixed; left:0; top:0;  width:100%; height:60px;
		background: rgba(255,255,255,0);
		overflow:hidden; 
		transition:all 0.4s ease-in-out ;
		z-index:4;
	}
	header::before{
		content:""; display:block; 
		position:absolute; left:0; top:0; width:100%; height:100%; 
		/*background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));*/
		background:#a56f63;
		opacity:0; z-index:-1;
		transition:all 0.4s ease-in-out; 
	}
	
	header nav li, header nav li a, header nav li button{color:#fff; font-weight:500; }
	header nav li{transition:all 0.5s ease; }
	header nav li a{transition:all 0.1s ease; }
	nav, section{margin:0 auto;}
	nav{display:flex; padding:0 40px; width:100%; height:60px; transition:all 0.5s ease-in-out ;}
	section:not(.full-section, .section-login, .admin-section-login, .section-idPwdSearch){position:relative; padding:100px 0 150px; width:1100px;}
	.section-login{margin:0 auto; padding:150px 25px 150px; width:450px;}
	.section-idPwdSearch{padding:100px 0 80px; width:1100px;}
	
	#top-logo{display:block; line-height:60px; padding:0 0 0 15px;}
	
	.main-menu-mobile-container{display:none;}
	.main-menu{display:flex; margin-left:100px; justify-content:center; text-align:center;}
	.main-menu>li{position:relative; line-height:60px; height:380px; transition:all 0.3s ease-in-out; overflow:hidden;}
	.main-menu>li:last-child{margin-left:50px;}
	.main-menu>li:last-child>div{border-bottom: 1px solid #ccc; font-size:25px;}
	.main-menu a{padding:0 30px; /*transition:all 0.1s ease 0.3s;*/}
	.main-menu>li>a{line-height:60px; border-bottom:1px solid #ccc; font-size:15px; }
	        
	.sub-menu{padding-top:7px}
	.sub-menu a{line-height:40px; font-size:14px;}
	
	.user-menu{display:none;}
	.user-menu li, .user-menu a, .user-menu-mobile li, .user-menu-mobile a{line-height:60px; padding:0 10px; font-size:13px;}
	.user-menu-mobile{display:none;}
	
	.user-list-order>li>p:nth-child(1), .user-list-order>li>p:nth-child(3), 
	.user-list-order>li>p:nth-child(5), .user-list-order>li>p:nth-child(6), 
	.user-list-order>li>p:nth-child(7) {width:8%;}
	.user-list-order>li>p:nth-child(2){width:30%;}
	.user-list-order>li>p:nth-child(4){width:12%;}
	.user-list-order>li>p:nth-child(8), .user-list-order>li>p:nth-child(9){width:9%;}
	
	.user-list-order>li>ul>li>p:nth-child(1), .user-list-order>li>ul>li>p:nth-child(3),
	.user-list-order>li>ul>li>p:nth-child(5), .user-list-order>li>ul>li>p:nth-child(6), 
	.user-list-order>li>ul>li>p:nth-child(7){width:8%; word-break:break-all;}
	.user-list-order>li>ul>li>p:nth-child(2){width:30%;}
	.user-list-order>li>ul>li>p:nth-child(4){width:12%;}
	.user-list-order>li>ul>li>p:nth-child(8), .user-list-order>li>ul>li>p:nth-child(9){width:9%;}
	
	.user-list-order>li>ul>li>p>a>span:last-child{width:220px;}
	
	.flexslider_main{min-width:1130px;}
	
	.full-section{min-width:1130px;}
	.full-section>div>h2{width:1010px;}
	
	.index-container{margin-top:-5px;  padding:80px 0; background:#f7f3eb;}
	
	.index-item-slide-container{background:#fff4eb;}
	
	.half-banner{display:flex;}
	.half-banner>p{display:inline-block; width:50%;}
	.half-banner>p>a>img{width:100%;}
	
	.tab-bar{display:flex; margin:0 auto; width:100%; justify-content:center; text-align:center; }
	.tab-bar>li{padding:5px 20px; font-weight:bold; cursor:pointer}
	.tab-bar>li.now-selected{color:#a56f63;}
	
	.index-item-list-container{position:relative; margin:40px auto; width:1010px; height:1500px; overflow:hidden; z-index:1;}
	.index-item-list-container>ul{display:flex; position:absolute; left:0; top:0; width:4080px; transition:all ease 0.3s;}
	.index-item-list-container>ul>li{width:1360px;}
	.index-item-list{display:flex; flex-wrap:wrap;}
	.index-item-list>li{margin-bottom:60px; padding-bottom:20px; width:295px;}
	.index-item-list>li:not(:nth-child(4n)){margin-right:60px; }
	.index-item-list>li>p:nth-child(1){height:295px;}
	
	footer{width:100%; min-width:1130px; height:400px; background:#2e2e2e; color:#fff;}
	.footer-wrap{display:flex; justify-content:space-between; width:1100px; padding:100px 0; margin:0 auto;}
	.sns{display:flex;}
	.sns>li{padding:0 5px;}
	.sns a{color:#f6f6f6;}
	
	/*==========hover============*/
	header:hover{
		height:380px; 
		/*border-bottom:1px solid #ccc;*//*#a56f63*/
		/*background: rgba(255,255,255,1);*/
	}
	header:hover::before{opacity:1;}
	header:hover nav li ,header:hover nav li a{color:#fff;/*color:#282828;*/}
	
	.main-menu>li:hover{background:#64373c;}
	.main-menu>li:hover>a{color:#e7bcc1; border-bottom:1px solid #a56f63;}
	.sub-menu a:hover{color:#e7bcc1;}
	
	.user-menu a:hover{border-bottom:1px solid #f6f6f6;}
	
	/*==========headerActive============*/
	.headerActive{/*border-bottom:1px solid #ccc;*/}
	.headerActive::before{opacity:1;}
	.headerActive nav li, .headerActive nav li a{color:#fff;}
	
}
/*=====================[TABLET]========================*/
@media screen and (min-width:745px) and (max-width:1149px){
	
	header{
		position:fixed; left:0; top:0;  width:100%; height:65px;
		background: rgba(255,255,255,0);
		transition:all 0.4s ease-in-out ;
		z-index:9;
	}
	header::before{display:none;}
	.headerActive{border-bottom:1px solid #ccc; background:#a56f63;}
	.headerActive::before{opacity:1;}
	
	header nav li, header nav li a{font-weight:500;}
	nav, section{width:100%;  margin:0 auto;}
	section:not(.full-section){padding:80px 20px 80px;}
	nav{transition:all 0.5s ease-in-out ;}
	
	.section-login{margin:0 auto; width:60%;}
	
	#top-logo{display:none;}
	
	.main-menu{display:none;}
	.main-menu-mobile-container{position:fixed; left:-100%; top:0; width:80%;  height:100vh; z-index:11; transition: all 0.5s ease;}
	.main-menu-mobile-container>aside{width:100%; height:100%; background:#a56f63; overflow-y:scroll;}
	.main-menu-mobile>li{
		position:relative;
		overflow:hidden; 
	}
	.main-menu-mobile a, .main-menu-mobile>li>p{color:#f6f6f6; text-align:left;}
	.main-menu-mobile>li>p{border-top:1px solid #eac5bc; font-size:17px;}
	.main-menu-mobile>li:last-child>p{border-bottom:1px solid #eac5bc;}
	.main-menu-mobile>li>p{padding:23px 21px; font-size:17px; }
	
	.main-menu-mobile .sub-menu{height:0; transition:all 0.3s ease-in-out; background:#863e40;}
	.main-menu-mobile .sub-menu a{padding:7px 21px; font-size:13px;}
	
	.user-menu, .user-menu-hd{display:none;}
	.user-menu li, .user-menu a, .user-menu-mobile li, .user-menu-mobile a {line-height:40px; padding:0 10px;}
	
	.user-menu-mobile{display:flex; position:fixed; top:0; padding:10px; width:100%; justify-content:space-between;}
	.user-menu-mobile>li:first-child{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
	.user-menu-mobile>li>h1>a{font-size:30px; font-weight:bold;}
	.user-menu-mobile a{color:#fff; font-size:18px;}
	
	.user-list-order>li>ul>li>p:nth-child(2)>a>span:first-child{display:none;}
	
	.user-list-order>li>p:nth-child(3), .user-list-order>li>ul>li>p:nth-child(3),
	.user-list-order>li>p:nth-child(5), .user-list-order>li>ul>li>p:nth-child(5),
	.user-list-order>li>p:nth-child(8), .user-list-order>li>ul>li>p:nth-child(8),
	.user-list-order>li>p:nth-child(9), .user-list-order>li>ul>li>p:nth-child(9){display:none;}
	
	.user-list-order>li>p:nth-child(1){width:20%;}
	.user-list-order>li>p:nth-child(2){width:30%;}
	.user-list-order>li>p:nth-child(4){width:20%;}
	.user-list-order>li>p:nth-child(6){width:10%;}
	.user-list-order>li>p:nth-child(7){width:20%;}
	
	.user-list-order>li>ul>li>p:nth-child(1){width:20%; word-break:break-all;}
	.user-list-order>li>ul>li>p:nth-child(2){width:30%;}
	.user-list-order>li>ul>li>p:nth-child(4){width:20%;}
	.user-list-order>li>ul>li>p:nth-child(6){width:10%;}
	.user-list-order>li>ul>li>p:nth-child(7){width:20%;}
	
	.login-menu-mobile{padding-bottom:5px; background:#863e40;}
	.login-menu-mobile>ul{display:flex;}
	.login-menu-mobile a, .login-menu-mobile button{padding:15px; color:#fff; font-weight:bold;}
	
	.mmenu-close-btn{margin:0 10px 30px 10px; padding:0 10px; width:45px; height:50px; line-height:50px; font-size:25px; color:#fff; text-align:center;}
	
	.index-container{margin-top:-5px;  padding:80px 0; background:#f7f3eb;}
	
	.half-banner{width:100%;}
	.half-banner>p{width:100%;}
	.half-banner>p>a>img{width:100%;}
	
	.tab-bar{display:flex; margin:0 auto; justify-content:center; text-align:center; }
	.tab-bar>li{padding:5px 20px; font-weight:bold; cursor:pointer}
	.tab-bar>li.now-selected{color:#a56f63;}
	
	.index-item-list-container{position:relative; margin:40px auto; width:calc(100% - 20px); min-height:2200px; overflow:hidden; z-index:1;}
	.index-item-list-container>ul{display:flex; position:absolute; left:0; top:0; width:300%; transition:all ease 0.3s;}
	.index-item-list-container>ul>li{width:100%;}
	.index-item-list{display:flex; flex-wrap:wrap;}
	.index-item-list>li{margin-bottom:20px; padding-bottom:20px; width:48%;}
	.index-item-list>li:not(:nth-child(2n)){margin-right:4%;}
	
	.visible-label{display:none;}
	
	.search-multi-row{flex-wrap:wrap;}
   	.search-multi-row>*:not(button) {margin:0 0 10px 100px; width:100%;}
	
	footer{width:100%; height:200px; background:#2e2e2e; color:#fff;}
	.footer-wrap{width:100%; padding:40px 0 20px; margin:0 auto;}
	.footer-wrap>*{margin:10px;}
	.sns{display:flex;}
	.sns>li{padding:0 5px;}
	.sns a{color:#fff;}
}
/*=====================[SMART PHONE]========================*/
@media screen and (max-width:744px){
	
	header{
		position:fixed; left:0; top:0;  width:100%; height:65px;
		background: rgba(255,255,255,0);
		transition:all 0.4s ease-in-out ;
		z-index:9;
	}
	header::before{display:none;}
	.headerActive{border-bottom:1px solid #ccc; background:#a56f63;}
	.headerActive::before{opacity:1;}
	
	header nav li, header nav li a{font-weight:500;}
	nav, section{width:100%;  margin:0 auto;}
	section:not(.full-section){padding:80px 20px 80px;}
	nav{transition:all 0.5s ease-in-out ;}
	
	.section-login{margin:0 auto; width:calc(100% - 100px);}
	
	#top-logo{display:none;}
	
	.main-menu{display:none;}
	.main-menu-mobile-container{position:fixed; left:-100%; top:0; width:80%;  height:100vh; z-index:11; transition: all 0.5s ease;}
	.main-menu-mobile-container>aside{width:100%; height:100%; background:#a56f63; overflow-y:scroll;}
	.main-menu-mobile>li{
		position:relative;
		overflow:hidden; 
	}
	.main-menu-mobile a, .main-menu-mobile>li>p{color:#f6f6f6; text-align:left;}
	.main-menu-mobile>li>p{border-top:1px solid #eac5bc; font-size:17px;}
	.main-menu-mobile>li:last-child>p{border-bottom:1px solid #eac5bc;}
	.main-menu-mobile>li>p{padding:23px 21px; font-size:17px; }
	
	.main-menu-mobile .sub-menu{height:0; transition:all 0.3s ease-in-out; background:#863e40;}
	.main-menu-mobile .sub-menu a{padding:7px 21px; font-size:13px;}
	
	.user-menu, .user-menu-hd{display:none; }
	.user-menu li, .user-menu a, .user-menu-mobile li, .user-menu-mobile a {line-height:40px; padding:0 10px;}
	
	.user-menu-mobile{display:flex; position:fixed; top:0; padding:10px; width:100%; justify-content:space-between;}
	.user-menu-mobile>li:first-child{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
	.user-menu-mobile>li>h1>a{font-size:30px; font-weight:bold;}
	.user-menu-mobile a{color:#fff; font-size:18px;}
	
	.user-list-order>li>ul>li>p:nth-child(2)>a>span:first-child{display:none;}
	
	.user-list-order>li>p:nth-child(3), .user-list-order>li>ul>li>p:nth-child(3),
	.user-list-order>li>p:nth-child(5), .user-list-order>li>ul>li>p:nth-child(5),
	.user-list-order>li>p:nth-child(8), .user-list-order>li>ul>li>p:nth-child(8),
	.user-list-order>li>p:nth-child(9), .user-list-order>li>ul>li>p:nth-child(9){display:none;}
	
	.user-list-order>li>p:nth-child(1){width:20%;}
	.user-list-order>li>p:nth-child(2){width:30%;}
	.user-list-order>li>p:nth-child(4){width:20%;}
	.user-list-order>li>p:nth-child(6){width:10%;}
	.user-list-order>li>p:nth-child(7){width:20%;}
	
	.user-list-order>li>ul>li>p:nth-child(1){width:20%; word-break:break-all;}
	.user-list-order>li>ul>li>p:nth-child(2){width:30%;}
	.user-list-order>li>ul>li>p:nth-child(4){width:20%;}
	.user-list-order>li>ul>li>p:nth-child(6){width:10%;}
	.user-list-order>li>ul>li>p:nth-child(7){width:20%;}
	
	.login-menu-mobile{padding-bottom:5px; background:#863e40;}
	.login-menu-mobile>ul{display:flex;}
	.login-menu-mobile a, .login-menu-mobile button{padding:15px; color:#fff; font-weight:bold;}
	
	.mmenu-close-btn{margin:0 10px 30px 10px; padding:0 10px; width:45px; height:50px; line-height:50px; font-size:25px; color:#fff; text-align:center;}
	
	.index-container{margin-top:-5px;  padding:80px 0; background:#f7f3eb;}
	
	.half-banner{width:100%;}
	.half-banner>p{width:100%;}
	.half-banner>p>a>img{width:100%;}
	
	.tab-bar{display:flex; margin:0 auto; justify-content:center; text-align:center; }
	.tab-bar>li{padding:5px 20px; font-weight:bold; cursor:pointer}
	.tab-bar>li.now-selected{color:#a56f63;}
	
	.index-item-list-container{position:relative; margin:40px auto; width:calc(100% - 20px); min-height:2200px; overflow:hidden; z-index:1;}
	.index-item-list-container>ul{display:flex; position:absolute; left:0; top:0; width:300%; transition:all ease 0.3s;}
	.index-item-list-container>ul>li{width:100%;}
	.index-item-list{display:flex; flex-wrap:wrap;}
	.index-item-list>li{margin-bottom:20px; padding-bottom:20px; width:48%;}
	.index-item-list>li:not(:nth-child(2n)){margin-right:4%;}
	
	.visible-label{display:none;}
	
	.search-multi-row{flex-wrap:wrap;}
   	.search-multi-row>*:not(button) {margin-bottom:10px; width:100%;}
	
	footer{width:100%; height:200px; background:#2e2e2e; color:#fff;}
	.footer-wrap{width:100%; padding:40px 0 20px; margin:0 auto;}
	.footer-wrap>*{margin:10px;}
	.sns{display:flex;}
	.sns>li{padding:0 5px;}
	.sns a{color:#fff;}
}